.intro {
  height: calc(100vh - 5rem);
  width: 100%;
  max-width: 75vw;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  /* border: 2px solid red; */
}

.imageDiv img {
  position: absolute;
  top: -2rem;
  right: 0;
  z-index: -1;
  object-fit: cover;
  height: 600px;
  /* border: 2px solid red; */
}
.introContent {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hello {
  font-size: 1.75rem;
  font-weight: 300;
}
.introName {
  color: yellow;
}
.introPara {
  font-size: medium;
  font-weight: 200;
}

.btn {
  display: flex;
  justify-content: center;
  line-height: 2rem;
  background: #fff;
  margin: 1rem 0;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 2rem;
}
.btn:hover {
  background-color: yellow;
  transition: ease-in 0.5s;
}

.btn img {
  object-fit: cover;
  margin: 0;
  height: 2rem;
  width: 2rem;
}
@media screen and (max-width: 840px) {
  .bg {
    right: -10vw;
  }
  .introContent {
    font-size: 10vw;
  }
  .hello {
    font-size: 4.5vw;
  }
}

@media screen and (max-width: 480px) {
  .bg {
    right: -30vw;
  }
}
